.container{
    display: flex;
    width: 100%;
    border: 2px solid #D6CAB0;
    border-radius: .25rem;
    position: relative;
    padding: 1rem;
}

.container:has(.textArea:focus){
    border: 2px solid #9F212F;
}

.textArea{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 1rem;
}

.textArea::placeholder{
    color: transparent;
}

.label{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1rem;
    color: #D6CAB0;
    font-weight: 600;
    background: #fff;
    padding: 0 .25rem;
    pointer-events: none;
    transition: .3s ease-in-out;
}

.textArea:focus + .label{
    top: -.2rem;
    transform: translate(0, -50%);
    font-size: .8rem;
    color: #9F212F;
}

.textArea:not(:focus):not(:placeholder-shown) + label {
    top: -.2rem;
    transform: translate(0, -50%);
    font-size: .8rem;
}

